.desktop-login {
  position: relative;
  width: 1280px;
  height: 900px;
  background-color: #ffffff;
}

.desktop-login .log_in {
  position: absolute;
  top: 208px;
  left: 520px;
  font-family: "Inter-Medium", Helvetica;
  font-size: 25px;
}

.desktop-login .emailBox {
  position: absolute;
  top: 280px;
  left: 544px;
  width: 338px;
  height: 47px;
}

.desktop-login .rectangle {
  width: 341px;
  height: 52px;
  background-color: #d9d9d947;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 15px;
  border: none;
}

.desktop-login .button {
  position: absolute;
  top: 380px;
  left: 545px;
  width: 360px;
  height: 65px;

  background-color: #4e4e4e;
  color: white;
  font-size: 17px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.message {
  position: absolute;
  top: 460px;
  left: 545px;
  width: 360px;
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
}

.desktop-login .backButton {
  position: absolute;
  top: 6px;
  left: 8px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
