.desktop-login {
    position: relative;
    width: 1280px;
    height: 600px;
    background-color: #ffffff;
}

.desktop-login .forgotPassword {
    position: absolute;
    top: 148px;
    left: 437px;
    width: 235px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop-login .box {
    position: absolute;
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    top: 180px;
    left: 430px;
    background-color: white;
    border-radius: 10px;
}

.desktop-login .sendButton {
    top: 43px;
    position: absolute;
    left: 473px;
    width: 100px;
    height: 57px;
}

.desktop-login .emailBox {
    top: 43px;
    position: absolute;
    left: 42px;
     width: 358px;
    height: 47px;
}

.desktop-login .codeBox {
    top: 103px;
    position: relative;
    left: 22px;
    width: 358px;
    height: 47px;
    display: inline-block;
}

.desktop-login .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 381px;
    height: 52px;
    background-color: #d9d9d947;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;
    border: 0px solid #aaa;
}

.desktop-login .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    top: 205px;
    left: 40px;
    width: 520px;
    height: 65px;
    display: flex;
    justify-content: center;
    background-color: #4e4e4e;
    border-radius: 10px;
}

.desktop-login .submit {
    margin-top: 20px;
    margin-left: -26px;
    width: 50px;
    margin-bottom: 20px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1;
    line-height: normal;
    text-decoration: underline;
    white-space: nowrap;
}

.desktop-login .backButton {
    text-decoration: none;
    position: absolute;
    top: 6px;
    left: 9px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}